{% extends "base.html" %}
<!-- Es una extensión del template "base.html" -->
{% block content %}

   {% if form.errors %}
   <p>Tu usuario y password no coinciden. Por favor, intentalo nuevamente</p>
   {% endif %}

   {% if next %}
   {% if user.is_authenticated %}
   <!-- Si está registrado pero no puede acceder -->
   <p>Tu cuenta no tiene acceso a esta página. Para continuar inicia sesión con una cuenta que tenga acceso.</p>
   {% else %}
   <p>Por favor, inicia sesión para acceder a esta página.</p>
   {% endif %}
   {% endif %}

   <form method="post" class="form-signin w-100 m-auto" action="{% url 'login' %} ">
    {% csrf_token %}
    <img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Autentificación</h1>
    <!-- Input del correo -->
    <label for="inputEmail" class="sr-only">{{ form.username.label_tag }} </label>
    <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Nombre de Usuario" required autofocus>
    <!-- Input de la contraseña -->
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <!-- Botón para ingresar -->
    <button class="btn btn-lg btn-primary btn-block mt-2" type="submit" value="login">Sign in</button>
    <input type="hidden" name="next" value="{{ next }}" />
   </form>
    <p class="mt-5 mb-3 text-muted">&copy; 2022-2022</p>

    {% endblock %}
   